<h1>Sign up</h1>

<%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <%= f.label :name, 'name' %>
    <%= f.text_field :name %>
    
    <%= f.label :email, 'email' %>
    <%= f.email_field :email %>
    
    <%= f.label :password, 'password' %>
    <%= f.password_field :password %>
    
    <%= f.label :password_confirmation, 'confirmation' %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit 'Sign up' %>
    
<% end %>


